:root {
    --texttitlebuttonabcg-color: #FFF;
    --navlist-color: #C7C7C7;
    --language-color: #DCDCDC;
    --rewiesp-color: #D8D8D8;
    --placeholder-color: #959595;
    --header-background: #012D63;
    --footer-background: #021635;
    --button-background: #8E32C6;
    --div-background: #9B9B9B;
}


body {
    font-family: "Roboto";
}


a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
} 

.container {
    width: 1140px;
    padding-left: 0 15px;
    padding-right: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}

/* font-family: "PT Serif";
font-family: "Roboto";
ont-family: "Playfair Display"; */

.header {
    background-color: var(--footer-background);
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 29px;
    margin-left: 152px;
}

.nav-link {
color: var(--navlist-color);
font-family: "Roboto";
font-size: 24px;
font-weight: 300;
line-height: 1.16;
}

.nav-link {
color: var(--texttitlebuttonabcg-color);   
font-family: "Roboto";
font-size: 24px;
font-weight: 300;
line-height: 1.16;
}

.header-list {
    display: flex;
    margin-left: 73px;
    gap: 5px;
}



.section-main {
    background-image: url(../img/bcg_colorrave.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 91px;
    padding-bottom: 202px;
}


 
.header-link {
   color: var(--language-color);
font-size: 24px;
font-weight: 300;
line-height: 1.16;
}

.main-add {
    color: var(--texttitlebuttonabcg-color);
font-family: "PT Serif";
font-size: 48px;
font-weight: 400;
line-height: 1.33;
margin-left: 30px;
}

.main-title1 {
    color: var(--texttitlebuttonabcg-color);
font-family: "Playfair Display";
font-size: 144px;
font-weight: 400;
line-height: 1;
}

.main-title2 {
    color: var(--texttitlebuttonabcg-color);
font-family: "Playfair Display";
font-size: 72px;
font-weight: 400;
line-height: 1;
}

.main-text {
    color: var(--texttitlebuttonabcg-color);
font-size: 18px;
font-weight: 400;
line-height: 1.16;
margin-top: 12px;
width: 508px;
}

.main-button {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
background-color: var(--button-background);
padding-top: 20px;
padding-bottom: 19px;
padding-left: 61px;
padding-right: 61px;
margin-top: 41px;
border-radius: 10px;
}



.section-advantages {
    background-image: url(../img/bcg_advantages.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 606px;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    
}

.advantages-list {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    /* stroke-width: 5px;
stroke: var(--button-background); */
border: 5px solid var(--button-background);
}

.advantages-item1 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.advantages-item2 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 19px;
    padding-right: 95px;
    padding-left: 95px;
}

.advantages-item3 {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 22px;
    padding-bottom: 25px;
}

.advantages-title1 {
    color: var(--texttitlebuttonabcg-color);
font-family: "Playfair Display";
font-size: 36px;
font-weight: 400;
line-height: 1.33;
margin-bottom: 4px;
/* margin-right: 90px; */
}

.advantages-title2 {
    color: var(--texttitlebuttonabcg-color);
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 400;
    line-height: 1.33;
    margin-top: 10px;
    /* margin-left: 135px;
    margin-right: 134px; */
}

.advantages-title3 {
    color: var(--texttitlebuttonabcg-color);
font-family: "Playfair Display";
font-size: 36px;
font-weight: 400;
line-height: 1.33;
margin-bottom: 6px;
/* margin-left: 95px; */

}

.advantages-img1 {
    
}

.advantages-img2 {
 height: 240px;
 width: 240px;
}

.advantages-img3 {
    
}


.section-reviews {
    background-image: url(../img/bcg_reviews.jpg), url(../img/flo_wers.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    padding-top: 25px;
    padding-bottom: 114px;
}

.reviews-title {
    color: var(--texttitlebuttonabcg-color);
text-align: center;
font-family: "Playfair Display";
font-size: 48px;
font-weight: 400;
line-height: 1.33;
margin-bottom: 24px;
}

.reviews-list {
  display: flex;
    justify-content: center;
gap: 93px;
}

.reviews-item1 {
    border-radius: 15px;
background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}

.reviews-item2 {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
}

   
.reviews-item3 {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}

.reviews_list-title1 {
color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
width: 228px;
/* padding-top: 49px;
margin-bottom: 8px;
padding-left: 13px;
padding-right: 14px; */
}

.reviews_list-title2 {
    color: var(--texttitlebuttonabcg-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    width: 228px;
    /* padding-top: 49px;
    margin-bottom: 8px;
    padding-left: 18px;
    padding-right: 9px; */
}

.reviews_list-title3 {
    color: var(--texttitlebuttonabcg-color);
    font-size: 24px;
font-weight: 400;
line-height: 1.16;
width: 228px;
/* padding-top: 49px;
margin-bottom: 8px;
padding-left: 18px;
padding-right: 9px; */
}

.reviews_list-text1-1 {
    color: var(--rewiesp-color);
font-size: 14px;
font-weight: 400;
line-height: 1.14;
padding-left: 13px;
margin-top: 8px;
}

.reviews_list-text1-2 {
    color: var(--rewiesp-color);
font-size: 14px;
font-weight: 400;
line-height: 1.14;
padding-left: 18px;
margin-top: 8px;
}

.reviews_list-text1-3 {
    color: var(--rewiesp-color);
font-size: 14px;
font-weight: 400;
line-height: 1.14;
padding-left: 18px;
margin-top: 8px;
}

.reviews-box {
    display: flex;
}

.reviews_list-img1 {
    width: 31px;
height: 31px;
border-radius: 31px;
margin-top: 47px;
margin-right: 5px;
margin-left: 13px;
}

.reviews_list-img2 {
    width: 31px;
height: 31px;
border-radius: 31px;
margin-top: 47px;
margin-right: 5px;
margin-left: 18px;
}

.container-box {
    margin-top: 47px;
}

.reviews_list-name {
    color: var(--texttitlebuttonabcg-color);
font-size: 14px;
font-weight: 400;
line-height: 1.14;
}

.reviews_list-text2 {
    color: var(--rewiesp-color);
font-size: 12px;
font-weight: 400;
line-height: 1.16;
padding-bottom: 29px;
}


.section-order {
    background-image: url(../img/bcg_order.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 21px;
    padding-bottom: 57px;
    text-align: center;
}

.order-title {
    color: var(--texttitlebuttonabcg-color);
font-family: "Playfair Display";
font-size: 48px;
font-weight: 400;
line-height: 1.33;
}

.order-text1 {
    color: var(--placeholder-color);
font-size: 28px;
font-weight: 400;
line-height: 1.17;
margin-bottom: 19px;
margin-top: 33px;
width: 690px;
height: 60px;
border-radius: 50px;
background: var(--texttitlebuttonabcg-color);
}

.order-text2 {
    color: var(--placeholder-color);
font-size: 28px;
font-weight: 400;
line-height: 1.17;
margin-bottom: 19px;
width: 580px;
height: 50px;
border-radius: 50px;
background: var(--texttitlebuttonabcg-color);
}

.order-text3 {
    color: var(--placeholder-color);
font-size: 28px;
font-weight: 400;
line-height: 1.17;
margin-bottom: 19px;
width: 580px;
height: 50px;
border-radius: 50px;
background: var(--texttitlebuttonabcg-color);
}

.order-text4 {
    color: var(--placeholder-color);
font-size: 28px;
font-weight: 400;
line-height: 1.17;
margin-bottom: 19px;
width: 580px;
height: 50px;
border-radius: 50px;
background: var(--texttitlebuttonabcg-color);
}

.order-button {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 48px;
padding-right: 49px;
background-color: var(--button-background);
border-radius: 16px;
}


.footer {
background-color: var(--footer-background);
padding-top: 45px;
padding-bottom: 50px;
}

.footer-box {
    display: flex;
}

.text-questions1 {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
margin-right: 591px;
width: 184px;
}

.text-questions2 {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
margin-right: 373px;
}

.text-questions3 {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
margin-right: 493px;
}

.link-email1 {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
text-decoration-line: underline;
margin-bottom: 10px;
}

.link-email2 {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
text-decoration-line: underline;
}

.link-email3 {
    color: var(--texttitlebuttonabcg-color);
font-size: 24px;
font-weight: 400;
line-height: 1.16;
text-decoration-line: underline;
margin-top: 10px;
}

.footer-dec {
width: 1110px;
height: 1px;
background-color: var(--div-background);
}

.footer-last {
    display: flex;
    justify-content: space-between;
}

.text-information1 {
    color: var(--texttitlebuttonabcg-color);
font-size: 18px;
font-weight: 400;
line-height: 1.16;
margin-top: 24px;
}

.text-information2 {
    color: var(--texttitlebuttonabcg-color);
font-size: 18px;
font-weight: 400;
line-height: 1.16;
margin-top: 7px;
}

.text-logo {
    color: var(--texttitlebuttonabcg-color);
font-family: "PT Serif";
font-size: 24px;
font-weight: 400;
line-height: 1.33;
width: 178px;
height: 86px;
}